body {
    font-family: sans-serif;
    background: #2F2F2F;
    color: white;
}
h1, h2, h3, h4, h5, h6 {
    /*color: hotpink*/
}

button {
    background: white;
    color: #2F2F2F;
    margin-left: 8px;
}

.row {
    display: flex;
    flex-direction: row;
}

.dash-spreadsheet-container .dash-spreadsheet-inner.dash-grow table {
    margin-top: 20px;
    width: 300px;
    margin-left: 16px;
    max-height: 400px;
    min-height: 40px;
    overflow-y: auto;
    color: #2F2F2F;
}

.query-form {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-bottom: 2px solid rgba(255,255,255,0.6);
}

.query-form > div {
    display: flex;
    flex-direction: column;
    width: 1200px;
    padding: 8px;
}

.query-form input[type='checkbox'] {
    width: 30px;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-variant: small-caps;
    margin-bottom: 20px;
    display: flex;
}
.query-form input[type='checkbox']:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.query-form input[type='checkbox']:hover:before {
    background-color: #ccc;
}
.query-form input[type='checkbox']:checked:before {
    background-color: #2196F3;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    height: 400px;
    font-variant: small-caps;

}


.query-form input[type='checkbox']:after {    
    content: "";
    position: absolute;
    display: none;
}
.query-form input[type='checkbox']:checked:after {
    display: block;
}

.query-form input[type='checkbox']:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#search-select > label {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}


.results {
    padding: 8px;
}